<div class="container">
  <footer class="footer">
    <small>
      A web application by <a href="http://www.benjreynolds.com">Benjamin Reynolds</a> for <a href="http://www.udemy.com">The Complete Ruby on Rails Developer Course</a>    </small>
  </footer>
</div>